<div class="container">
    <aside>
        <div class="top">
            <div class="logo">
                <h2> EVOLUTION</h2>
            </div>
            <div class="close" id="close-btn">
                <span class='bx bx-x'></span>
            </div>
        </div>
        <div class="sidebar">
            <a href="#">
                <span class='bx bx-user'></span>
                <h3>Perfil</h3>
            </a>
            <a href="#" class="active">
                <span><i class='bx bx-customize'></i></span>
                <h3>Turmas</h3>
            </a>
            <a href="#">
                <span class='bx bxs-chat'></span>
                <h3>Notificações</h3>
                <span class="message-count">30</span>
            </a>
            <a href="#">
                <span><i class='bx bxs-message-alt-add'></i></span>
                <h3>Add turmas</h3>
            </a>
            <a href="#">
                <span><i class='bx bxs-log-in'></i></span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <main>
        <h1>Turmas</h1><br><br>
        <form class="formulario-preto" name="f_cadastro" action="#" method="get">
            <label for="turma">Selecione sua turma:</label>
            <select name="turma" id="turma">
                <option value="ti">Turma de TI</option>
                <option value="eletromecanica">Turma de Eletromecânica</option>
            </select><br>
    
            <label for="ano">Ano:</label>
            <select name="ano" id="ano">
                <option value="1">1º Ano</option>
                <option value="2">2º Ano</option>
                <option value="3">3º Ano</option>
                <option value="4">4º Ano</option>
            </select>
            <input class="" type="submit" name="f_enviar" value="Enviar">
        </form>
    </main>
    
</div>
<script src="pturmas.js"></script>