@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  overflow: hidden;
  color: rgb(2, 2, 2);
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo{
  position: relative;
  font-size: 25px;
  color:aqua;
  text-decoration: none;
  font-weight: 600;
}

.logo ::before{
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgb(11, 11, 11);
  animation: showRight 1s ease forwards ;
  animation-delay: .4s;
}
.navbar a {
  font-size: 18px;
  color: rgb(4, 163, 236);
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
  transition: color 0.3s; 
}

.navbar a:hover {
  color: aqua; 
}
.navbar a a:hover,
.navbar a.active{
  color: #ffffff;
}
.cadastro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.cadastro-content {
  max-width: 600px;
}

.cadastro-image {
  width: 600px;
  height: 600px;
  float: right;
  margin-left: auto;
  position: absolute;
  right: 0;
  margin-top: -450px;
}

.cadastro-content h1{
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
}

.cadastro-content h1::before{
  content: '';
  position:absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.cadastro-content h3{
  font-size: 32px;
  font-weight: 700;
  color: rgb(11, 99, 99);
}
.cadastro-content p{
  color: rgb(11, 2, 43);
  font-size: 19px;
  margin: 20px 0 40px;
}
.cadastro-content .btn-box{
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150%;
  background: rgba(129, 129, 129, 0.329);
  border: 2px solid rgb(8, 8, 8);
  border-radius: 8px ;
  color: black;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  z-index: 1;
  overflow: hidden;
}
.btn-box a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: rgb(103, 105, 107);
  z-index: -1;
  transition: .5s;
}
.btn-box a:hover::before{
  width: 100%;

}
.home-imgHover{
  top: 0;
  position: absolute;
  right: 30px;
  width: 500px;
  height: 100%;
  background: transparent;
  transition: 3s;
}
@keyframes showRight{
  100%{
    width: 0;
  }
}



.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #03d1d8, #47a7df, #5ca5bb, #48ff00, #00ffd5, #218ff7, #035569, #036e75, #00f7ff);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}