<!-- design-->
<header class="header">
    <a href="#" class="logo">Cadastrar Instituição</a>
    <i class="bx bx-menu" id="menu-icon"></i>
    <nav class="navbar">
      <a href="login.html" class="active">Logar</a>
      <a href="main.html" class="active">Home</a>
      <a href="#about">Sobre nós</a>
      <a href="#services">Serviços</a>
      <a href="#portifolio">Portfólio</a>
      <a href="#contato">Contato</a>
    </nav>
  </header>
  <section class="home" id="home">
    <div class="home-content">
      <h3>Hello,</h3>
      <h1>Faça parte do nosso time</h1>
      <h3><span> EVOLUTION </span></h3>
      <p>Navegando pelas ondas do futuro com conhecimento e visão.</p>
      <div class="social-media">
        <a href="https://pt-br.facebook.com"><i class="bx bxl-facebook"></i></a>
        <a href="https://twitter.com/i/flow/login"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/home"><i class="bx bxl-linkedin"></i></a>
      </div>
      <a href="Formulario.html" class="btn">Cadastre sua instituição</a>
    </div>
    <div class="home-img">
      <img src="home1.svg" alt="">
    </div>
  </section>
  <!-- about section design-->
  <section class="about" id="about">
    <div class="about-img">
      <img src="home2.svg" alt="">
    </div>
    <div class="about-content">
      <h2 class="heading">Sobre <span>nós</span></h2>
      <p>Nós somos uma equipe dedicada a impulsionar a evolução acadêmica dos alunos. Acreditamos no poder da educação para transformar vidas e estamos comprometidos em fornecer um ambiente estimulante, recursos de qualidade e apoio individualizado para garantir que cada aluno alcance seu máximo potencial. Junte-se a nós nessa jornada de aprendizado, descoberta e conquistas acadêmicas.</p>
      <a href="#" class="btn">Saiba mais</a>
    </div>
  </section>
 
  <section class="services" id="services">
    <h2 class="heading">Nossos <span>Serviços</span></h2>
    <div class="services-container">
      <div class="services-box">
        <i class="bx bx-code-alt"></i>
        <h3> Desenvolvimento Curricular</h3>
        <p>O desenvolvimento curricular visa criar um plano de estudos eficaz, definindo metas de aprendizagem, materiais e estratégias adequadas, garantindo qualidade educacional e preparação para sucesso.</p>
        <a href="#" class="btn">Saiba mais</a>
      </div>
      <div class="services-box" >
        <i class="bx bx-bar-chart-alt"></i>
        <h3>Registros</h3>
        <p>A manutenção de registros no gerenciamento escolar online envolve a gestão eletrônica de documentos e informações acadêmicas, melhorando a eficiência e acessibilidade dos dados.</p>
        <a href="#" class="btn">Saiba mais</a>
      </div>
      <div class="services-box">
        <i class='bx bxs-hourglass-top'></i>       
             <h3>Manutenção</h3>
        <p>A manutenção da análise dos alunos no gerenciamento escolar online refere-se à prática de acompanhar o desempenho dos estudantes usando sistemas digitais, coletando dados acadêmicos para avaliar seu progresso e adaptar o ensino às suas necessidades individuais. Isso melhora a personalização do aprendizado e ajuda a identificar áreas de apoio necessário.</p>
        <a href="#" class="btn">Saiba mais</a>
      </div>
     
    </div>
  </section>
 

  <section class="portifolio" id="portifolio">
    <h2 class="heading">Portfólio</h2>
    <h2 class="subheading">Acadêmico</h2>
    <div class="portifolio-container1">
      <div class="box">
        <span style="--i:1;"> <img src="imagem0.png"></span>
        <span style="--i:2;"> <img src="G2.png"></span>
        <span style="--i:3;"> <img src="G3.png"></span>
        <span style="--i:4;"> <img src="G4.png"></span>
        <span style="--i:5;"> <img src="G5.png"></span>
        <span style="--i:6;"> <img src="G6.png"></span>
        <span style="--i:7;"> <img src="G7.png"></span>
        <span style="--i:8;"> <img src="G8.png"></span>
      </div><br><br><br><br><br><br><br><br><br>
      
      <div class="btns">
        <div class="btn prev"></div>
        <div class="btn next"></div>
      </div>
      
    </div>
  </section>
   
  <section class="contato" id="contato">
    <h2 class="heading"> Contato <span> Me!</span> </h2>

       <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name">
          <input type="email" placeholder="Email Address">
        </div>

        <div class="input-box">
          <input type="number" placeholder="Mobile number">
          <input type="text" placeholder="Email Subject">
        </div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
       </form>
  </section>
 

     <footer class="footer">
      <div class="footer-text">
        <p> Copyright &copy; 2023 by Adriele| All Rights Reserved</p>
      </div>

      <div class="footer-iconTop">
        <a href="main.html"><i class='bx bx-up-arrow-alt' ></i></a>
      </div>
     </footer>



     <script src="https://unpkg.com/scrollreveal"></script>


  <script src="script.js"></script>