<!-- design-->
<header class="header">
    <a href="#" class="logo">Cadastrar Instituição</a>
    <i class="bx bx-menu" id="menu-icon"></i>
    <nav class="navbar">
      <a routerLink="logar"class="active">Logar</a>
      <a href="about-me">Sobre nós</a>
      <a href="contato">Contato</a>
    </nav>
  </header>
  <section class="home" id="home">
    <div class="home-content">
      <h3>Hello,</h3>
      <h1>Faça parte do nosso time</h1>
      <h3><span> EVOLUTION </span></h3>
      <p>Navegando pelas ondas do futuro com conhecimento e visão.</p>
      <div class="social-media">
        <a href="https://pt-br.facebook.com"><i class="bx bxl-facebook"></i></a>
        <a href="https://twitter.com/i/flow/login"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com"><i class="bx bxl-instagram"></i></a>
        <a href="https://www.linkedin.com/home"><i class="bx bxl-linkedin"></i></a>
      </div>
      <a routerLink="/cadastro" class="btn">Cadastre sua instituição</a>
    </div>
    <div class="home-img">
      <img src="assets/about1.svg" alt="">
    </div>
  </section>
  <!-- about section design-->
  <section class="about" id="about">
    <div class="about-img">
      <img src="assets/about.svg" alt="">
    </div>
    <div class="about-content">
      <h2 class="heading">Sobre <span>nós</span></h2>
      <p>Nós somos uma equipe dedicada a impulsionar a evolução acadêmica dos alunos. Acreditamos no poder da educação para transformar vidas e estamos comprometidos em fornecer um ambiente estimulante, recursos de qualidade e apoio individualizado para garantir que cada aluno alcance seu máximo potencial. Junte-se a nós nessa jornada de aprendizado, descoberta e conquistas acadêmicas.</p>
      <a href="#" class="btn">Saiba mais</a>
    </div>
  </section>
 
 

  <section class="contato" id="contato">
    <h2 class="heading"> Contato <span> Me!</span> </h2>

       <form action="#">
        <div class="input-box">
          <input type="text" placeholder="Full Name">
          <input type="email" placeholder="Email Address">
        </div>

        <div class="input-box">
          <input type="number" placeholder="Mobile number">
          <input type="text" placeholder="Email Subject">
        </div>

        <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
        <input type="submit" value="Send Message" class="btn">
       </form>
  </section>
 


     <script src="https://unpkg.com/scrollreveal"></script>


  <script src="script.js"></script>