<header class="header">
  <a href="" class="logo">Evolution.</a>
  <nav class="navbar">
    <a href="login.html">Logar</a>
    <a href="main.html">Home</a>
    <a href="#about">Sobre nós</a>
    <a href="#services">Serviços</a>
    <a href="#portifolio">Portfólio</a>
    <a href="#contato">Contato</a>
  </nav>
</header>

<section class="cadastro">
  
  <div class="cadastro-content">
    <h1>Gestão Academica</h1>
    <h3>Monitoramento Institucional</h3>
    <p>O monitoramento dos alunos nas instituições é essencial para entender seu desempenho, frequência e necessidades
      individuais. Isso permite intervenções direcionadas e melhorias contínuas no ensino!</p>

    <div class="btn-box" routerLink="/cadastro">
      Cadastre-se
    </div>
    <img src="assets/main.svg" alt="" class="cadastro-image">

  </div>

</section>

<span class="home-imgHover"></span>