<section class="about" id="about">
    <div class="about-img">
      <img src="assets/about.svg" alt="">
    </div>
    <div class="about-content">
      <h2 class="heading">Sobre <span>nós</span></h2>
      <p>Nós somos uma equipe dedicada a impulsionar a evolução acadêmica dos alunos. Acreditamos no poder da educação para transformar vidas e estamos comprometidos em fornecer um ambiente estimulante, recursos de qualidade e apoio individualizado para garantir que cada aluno alcance seu máximo potencial. Junte-se a nós nessa jornada de aprendizado, descoberta e conquistas acadêmicas.</p>
      <a href="#" class="btn">Saiba mais</a>
    </div>
  </section>
